.collision-body-grid {
	display: flex;
	gap: 20px;
	width: 100%;
}

.collision-column {
	display: flex;
	flex-direction: column;
	gap: 5px;
	flex: 1;
}

.trigger-container {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: var(--font-sm);
	color: var(--color-9);
}

.trigger-checkbox {
	appearance: none;
	width: 16px;
	height: 16px;
	border: 2px solid var(--color-5);
	border-radius: 4px;
	cursor: pointer;
	background-color: var(--color-2);
	transition: all 0.2s;
	position: relative;
}

.trigger-checkbox:checked {
	background-color: var(--color-9);
	border-color: var(--color-9);
}

.trigger-checkbox:checked::after {
	content: '✔';
	font-size: 10px;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
