
.custom-number-wrapper {
	position: relative;
	width: 100%;
	height: 30px;
	display: flex;
	background-color: var(--color-3);
	border-radius: var(--radius);
	overflow: hidden; 
	transition:
		background-color 0.2s,
		box-shadow 0.2s;
}

.custom-number-wrapper:hover {
	background-color: var(--color-4);
}


.custom-number-input {
	flex-grow: 1;
	width: 100%;
	height: 100%;
	border: none;
	background: transparent;
	color: var(--color-9);
	font-size: 14px;
	text-align: center;
	outline: none;
	padding: 5px 20px 5px 10px;
	-moz-appearance: textfield; 
}


.custom-number-input::-webkit-outer-spin-button,
.custom-number-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}


.custom-number-spinners {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	width: 20px;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}


.spinner-btn {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	border: none;
	color: var(--color-9);
	cursor: pointer;
	padding: 0;
	opacity: 0.5;
	transition:
		opacity 0.2s,
		background-color 0.2s;
}

.spinner-btn:hover {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.1);
}


.spinner-btn.up {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
